<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Name="Switcheroo" Version="0.1" Manufacturer="Switcheroo Digital" UpgradeCode="e607cfed-e140-499a-a0a2-b6df469c3f5c">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="license.txt" LogoFile="logo.png"/>
    </BootstrapperApplicationRef>
    <WixVariable Id="WixStdbaLicenseUrl" Value=""/>
    <Chain>
      <MsiPackage SourceFile="googlechromestandaloneenterprise.msi"></MsiPackage>
      <MsiPackage SourceFile="setup.msi"></MsiPackage>
    </Chain>
  </Bundle>
</Wix>
