<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Name="Switcheroo" Id="5FCF862B-2DF0-43DA-89F5-27E14903F379" UpgradeCode="A510745B-F6C0-472C-A1BC-2CA53212211E" Language="1033" Version="0.1" Manufacturer="Switcheroo Digital">
        <Package Id="*" InstallerVersion="200" Compressed="yes" />
        <Media Id="1" Cabinet="Switcher.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLDIR" Name="Switcher">
                    <Component Id="MainExecutable" Guid="AF90FF6A-E5F0-45BD-A4E4-974427796F73">
                        <RemoveFolder Id="INSTALLDIR" On="uninstall" />
                        <File Id="_CTYPES.PYD" Name="_ctypes.pyd" Source="dist\_ctypes.pyd" />
                        <File Id="_ELEMENTTREE.PYD" Name="_elementtree.pyd" Source="dist\_elementtree.pyd" />
                        <File Id="_HASHLIB.PYD" Name="_hashlib.pyd" Source="dist\_hashlib.pyd" />
                        <File Id="_MULTIPROCESSING.PYD" Name="_multiprocessing.pyd" Source="dist\_multiprocessing.pyd" />
                        <File Id="_SOCKET.PYD" Name="_socket.pyd" Source="dist\_socket.pyd" />
                        <File Id="_SSL.PYD" Name="_ssl.pyd" Source="dist\_ssl.pyd" />
                        <File Id="_WIN32SYSLOADER.PYD" Name="_win32sysloader.pyd" Source="dist\_win32sysloader.pyd" />
                        <File Id="API_MS_WIN_CORE_DEBUG_L1_1_0.DLL" Name="API-MS-Win-Core-Debug-L1-1-0.dll" Source="dist\API-MS-Win-Core-Debug-L1-1-0.dll" />
                        <File Id="API_MS_WIN_CORE_DELAYLOAD_L1_1_0.DLL" Name="API-MS-Win-Core-DelayLoad-L1-1-0.dll" Source="dist\API-MS-Win-Core-DelayLoad-L1-1-0.dll" />
                        <File Id="API_MS_WIN_CORE_ERRORHANDLING_L1_1_0.DLL" Name="API-MS-Win-Core-ErrorHandling-L1-1-0.dll" Source="dist\API-MS-Win-Core-ErrorHandling-L1-1-0.dll" />
                        <File Id="API_MS_WIN_CORE_HANDLE_L1_1_0.DLL" Name="API-MS-Win-Core-Handle-L1-1-0.dll" Source="dist\API-MS-Win-Core-Handle-L1-1-0.dll" />
                        <File Id="API_MS_WIN_CORE_INTERLOCKED_L1_1_0.DLL" Name="API-MS-Win-Core-Interlocked-L1-1-0.dll" Source="dist\API-MS-Win-Core-Interlocked-L1-1-0.dll" />
                        <File Id="API_MS_WIN_CORE_IO_L1_1_0.DLL" Name="API-MS-Win-Core-IO-L1-1-0.dll" Source="dist\API-MS-Win-Core-IO-L1-1-0.dll" />
                        <File Id="API_MS_WIN_CORE_LIBRARYLOADER_L1_1_0.DLL" Name="API-MS-Win-Core-LibraryLoader-L1-1-0.dll" Source="dist\API-MS-Win-Core-LibraryLoader-L1-1-0.dll" />
                        <File Id="API_MS_WIN_CORE_LOCALIZATION_L1_1_0.DLL" Name="API-MS-Win-Core-Localization-L1-1-0.dll" Source="dist\API-MS-Win-Core-Localization-L1-1-0.dll" />
                        <File Id="API_MS_WIN_CORE_LOCALREGISTRY_L1_1_0.DLL" Name="API-MS-Win-Core-LocalRegistry-L1-1-0.dll" Source="dist\API-MS-Win-Core-LocalRegistry-L1-1-0.dll" />
                        <File Id="API_MS_WIN_CORE_MEMORY_L1_1_0.DLL" Name="API-MS-Win-Core-Memory-L1-1-0.dll" Source="dist\API-MS-Win-Core-Memory-L1-1-0.dll" />
                        <File Id="API_MS_WIN_CORE_MISC_L1_1_0.DLL" Name="API-MS-Win-Core-Misc-L1-1-0.dll" Source="dist\API-MS-Win-Core-Misc-L1-1-0.dll" />
                        <File Id="API_MS_WIN_CORE_PROCESSENVIRONMENT_L1_1_0.DLL" Name="API-MS-Win-Core-ProcessEnvironment-L1-1-0.dll" Source="dist\API-MS-Win-Core-ProcessEnvironment-L1-1-0.dll" />
                        <File Id="API_MS_WIN_CORE_PROCESSTHREADS_L1_1_0.DLL" Name="API-MS-Win-Core-ProcessThreads-L1-1-0.dll" Source="dist\API-MS-Win-Core-ProcessThreads-L1-1-0.dll" />
                        <File Id="API_MS_WIN_CORE_PROFILE_L1_1_0.DLL" Name="API-MS-Win-Core-Profile-L1-1-0.dll" Source="dist\API-MS-Win-Core-Profile-L1-1-0.dll" />
                        <File Id="API_MS_WIN_CORE_STRING_L1_1_0.DLL" Name="API-MS-Win-Core-String-L1-1-0.dll" Source="dist\API-MS-Win-Core-String-L1-1-0.dll" />
                        <File Id="API_MS_WIN_CORE_SYNCH_L1_1_0.DLL" Name="API-MS-Win-Core-Synch-L1-1-0.dll" Source="dist\API-MS-Win-Core-Synch-L1-1-0.dll" />
                        <File Id="API_MS_WIN_CORE_SYSINFO_L1_1_0.DLL" Name="API-MS-Win-Core-SysInfo-L1-1-0.dll" Source="dist\API-MS-Win-Core-SysInfo-L1-1-0.dll" />
                        <File Id="APP.EXE" Name="app.exe" Source="dist\app.exe" />
                        <File Id="BZ2.PYD" Name="bz2.pyd" Source="dist\bz2.pyd" />
                        <File Id="CONFIG.INI" Name="config.ini" Source="dist\config.ini" />
                        <File Id="FOREVER.BAT" Name="forever.bat" Source="dist\forever.bat" />
                        <File Id="MSWSOCK.DLL" Name="MSWSOCK.dll" Source="dist\MSWSOCK.dll" />
                        <File Id="PYEXPAT.PYD" Name="pyexpat.pyd" Source="dist\pyexpat.pyd" />
                        <File Id="PYTHON27.DLL" Name="python27.dll" Source="dist\python27.dll" />
                        <File Id="PYTHONCOM27.DLL" Name="pythoncom27.dll" Source="dist\pythoncom27.dll" />
                        <File Id="PYWINTYPES27.DLL" Name="pywintypes27.dll" Source="dist\pywintypes27.dll" />
                        <File Id="SELECT.PYD" Name="select.pyd" Source="dist\select.pyd" />
                        <File Id="UNICODEDATA.PYD" Name="unicodedata.pyd" Source="dist\unicodedata.pyd" />
                        <File Id="USER.INI" Name="user.ini" Source="dist\user.ini" />
                        <File Id="W9XPOPEN.EXE" Name="w9xpopen.exe" Source="dist\w9xpopen.exe" />
                        <File Id="WIN32API.PYD" Name="win32api.pyd" Source="dist\win32api.pyd" />
                        <File Id="WIN32EVENT.PYD" Name="win32event.pyd" Source="dist\win32event.pyd" />
                        <File Id="WIN32FILE.PYD" Name="win32file.pyd" Source="dist\win32file.pyd" />
                        <File Id="WIN32GUI.PYD" Name="win32gui.pyd" Source="dist\win32gui.pyd" />
                        <File Id="WIN32PIPE.PYD" Name="win32pipe.pyd" Source="dist\win32pipe.pyd" />
                        <File Id="WIN32PROCESS.PYD" Name="win32process.pyd" Source="dist\win32process.pyd" />
                        <File Id="WIN32UI.PYD" Name="win32ui.pyd" Source="dist\win32ui.pyd" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
        <Feature Id="Complete" Level="1">
            <ComponentRef Id="MainExecutable" />
        </Feature>
        <UI />
    </Product>
</Wix>
